.contact-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-container a {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .form-container {
    margin-top: 3%;
    flex: 1 1 50%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact-form {
    background-color: #7bd100;
    padding: 7px;
    margin-top: 0;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 10px; /* lub inna wartość */
    color: white;
    box-shadow: 5px 5px 10px rgba(152, 172, 152, 0.87);
  }
  
#text{
margin-bottom: 30px;
}

button{
    margin-left: 45%;
}