@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

.clip-right {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.clip-left {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

html,
body,
#root {
  height: 100%;
}
